{% extends 'basic.html' %}

{% block meta %}
<title>The best books of 2015, as selected by FT writers. History, Economics, Politics | FT Weekend</title>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://h2.ft.com/build/v2/bundles/css?modules=o-fonts@^2,o-footer@^4" />
<!-- build:css ../styles/pages/best-of-2015.css -->
<link rel="stylesheet" href="../styles/pages/best-of-2015.css" />
<!-- endbuild -->
{% endblock %}

{% block body %}
<header class="hero">
  <img class="hero__logo" src="../images/logo.svg" alt="Financial Times">
  <h1 class="hero__title">Best books<br/>of &thinsp;2015</h1>
  <div class="hero__standfirst">
    <p>In the run up to Christmas, FT writers pick their favourite reads of the year</p>
    <nav class="hero__nav">
      {% for slug, category in categories %}
        <a href="#{{slug}}-books">{{category.name}}</a>
      {% endfor %}
    </ul>
  </div>
</header>

<main>
  <div class="section__wrapper">
    {% for slug, category in categories %}
    {% if category.image %}
          <style>
          #{{slug}}-books.section__header--image:before{
            background-image:url('../images/{{category.image.url}}.png');
            padding-top:{{category.image.ratio}}%;
          }
          </style>
        {% endif %}
      <section class="section{% if category.books.length < 3 %} section--minor{% endif %}">
        <header id="{{slug}}-books" class="section__header{% if category.image %} section__header--image{% endif %}">
          <h2 class="section__title">{{category.name}}</h2><p class="section__subtitle">{{ category.reviewer.name}}</p>
        </header>
        <ul>
          {% for book in category.books %}
            <li class="review">
              <div class="card">
                <h3 id="{{book.book.slug}}" class="review__heading">{{book.book.title}}</h3>
                <p class="review__subheading">by {{book.book.author}}</p>
                <div class="review__body">
                  {{ book.review.copy | safe }}
                </div>
              </div>
              {% if book.book.image %}
              <div class="card card--image">
                <img src="../images/covers/{{ book.book.image }}" alt="">
              </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </div>
</main>

{% endblock %}
